
.idea/

.DS_Store

*.pyc
*.checkpoints

*.asv

matlab/DecayFitNet_1slopes_model.m

matlab/DecayFitNet_1slopes_model.mat

matlab/DecayFitNet_2slopes_model.m

matlab/DecayFitNet_2slopes_model.mat

matlab/DecayFitNet_3slopes_model.m

matlab/DecayFitNet_3slopes_model.mat

matlab/DecayFitNet_model.m

matlab/DecayFitNet_model.mat

matlab/DecayFitNet_1slopes_offset_model.m

matlab/DecayFitNet_1slopes_offset_model.mat

matlab/DecayFitNet_2slopes_offset_model.m

matlab/DecayFitNet_2slopes_offset_model.mat

matlab/DecayFitNet_3slopes_offset_model.m

matlab/DecayFitNet_3slopes_offset_model.mat

python/training_runs/DecayFitNet/

*.0

python/fits_decayfitnet_motus_slim.mat

python/fits_decayfitnet_roomtransition_slim.mat

python/mse_decayfitnet_motus_slim.mat

python/mse_decayfitnet_roomtransition_slim.mat

model/DecayFitNet_1slopes_model.m

model/DecayFitNet_1slopes_model.mat

model/DecayFitNet_2slopes_model.m

model/DecayFitNet_2slopes_model.mat

model/DecayFitNet_3slopes_model.m

model/DecayFitNet_3slopes_model.mat

model/DecayFitNet_model.m

model/DecayFitNet_model.mat

data/synthEDCs/
