
.idea/

.DS_Store

*.pyc
*.checkpoints

*.asv

matlab/DecayFitNet_1slopes_model.m

matlab/DecayFitNet_1slopes_model.mat

matlab/DecayFitNet_2slopes_model.m

matlab/DecayFitNet_2slopes_model.mat

matlab/DecayFitNet_3slopes_model.m

matlab/DecayFitNet_3slopes_model.mat

matlab/DecayFitNet_model.m

matlab/DecayFitNet_model.mat
